.coffre {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-image: url('./images/coffre.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 25vw;
	height: 50vh;
}

.coffre-header {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 10px;
}
.coffre-content {
	font-size: 25px;
}
