.coffre {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url('./images/coffre.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 35vw;
	height: 60vh;
}

#coffre-div {
	background: rgba(186, 135, 68, 0.8);
}

.coffre-header {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 10px;
}

.coffre-content {
	font-size: 30px;
}

.coffre-content-list {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.coffre-content-list-item {
	display: flex;
	align-items: center;
}

.tresor {
	width: 30px;
	height: 30px;
	margin: 10px;
}
