.coffre-note {
	display: flex;
	align-items: center;
}

.note {
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 100%;
}

.response {
	background-color: beige;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px 10px 0 0;
}

.instruction {
	padding: 15px;
}

.instruction-data {
	margin-top: 10px;
}

.aide {
	position: relative;

	background-color: chocolate;
	border-radius: 0 0 10px 10px;
}

.aide:hover > .hidden {
	visibility: visible;
}

.aide:hover > .aide-info {
	visibility: hidden;
}

.hidden {
	visibility: hidden;
	padding: 10px;
}

.aide-info {
	visibility: visible;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0);
	font-weight: bold;
}
